
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Home">Trang chủ</a>
            <a class="navbar-brand" href="/NhapSach">Nhập sách</a>
            <a class="navbar-brand" href="/XuatSach">Xuất sách</a>
            <a class="navbar-brand" href="/DaiLies">Đại lý</a>
            <a class="navbar-brand" href="/NhaXuatBans">Nhà xuất bản</a>
            <a class="navbar-brand" href="/HoaDonNhaps">Phiếu nhập</a>
            <a class="navbar-brand" href="/HoaDonBans">Phiếu xuất</a>
        </div>
    </div>
</div>
<br /><br /><br /><br />