USE [master]
GO
/****** Object:  Database [MuaBanSach]    Script Date: 12/23/2016 10:22:38 PM ******/
CREATE DATABASE [MuaBanSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MuaBanSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MuaBanSach.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MuaBanSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MuaBanSach_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MuaBanSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MuaBanSach]
GO
/****** Object:  Table [dbo].[ChiTietSach]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietSach](
	[idCTSach] [int] IDENTITY(1,1) NOT NULL,
	[tenTacGia] [nvarchar](50) NULL,
	[idNXB] [int] NOT NULL,
	[ngayXuatBan] [datetime] NULL,
	[soTrang] [int] NULL,
	[khoGiay] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCTSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietSachDaiLyLay]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSachDaiLyLay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idDL] [int] NOT NULL,
	[idSach] [int] NOT NULL,
	[ngayLay] [datetime] NOT NULL,
	[soLuongXuat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietSachNXBNhap]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSachNXBNhap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idNXB] [int] NOT NULL,
	[idSach] [int] NOT NULL,
	[ngayNhap] [datetime] NOT NULL,
	[soLuongNhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHoaDonBan]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDonBan](
	[idCTHDB] [int] IDENTITY(1,1) NOT NULL,
	[idHDB] [int] NOT NULL,
	[idSach] [int] NOT NULL,
	[idLV] [int] NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_CTHoaDonBan] PRIMARY KEY CLUSTERED 
(
	[idCTHDB] ASC,
	[idHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHoaDonNhap]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDonNhap](
	[idCTHDN] [int] IDENTITY(1,1) NOT NULL,
	[idHDN] [int] NOT NULL,
	[idSach] [int] NOT NULL,
	[idLV] [int] NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [PK_CTHoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[idCTHDN] ASC,
	[idHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DaiLy]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DaiLy](
	[idDL] [int] IDENTITY(1,1) NOT NULL,
	[tenDaiLy] [nvarchar](30) NULL,
	[diaChi] [nvarchar](50) NULL,
	[sDT] [varchar](12) NULL,
	[tienDLNo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[idHDB] [int] IDENTITY(1,1) NOT NULL,
	[idDL] [int] NOT NULL,
	[diaChi] [nvarchar](50) NULL,
	[sDT] [varchar](12) NULL,
	[ngayBan] [datetime] NULL,
	[nguoiNhanSach] [nvarchar](30) NULL,
	[tongTien] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[idHDN] [int] IDENTITY(1,1) NOT NULL,
	[idNXB] [int] NOT NULL,
	[sDT] [varchar](12) NULL,
	[ngayNhap] [datetime] NULL,
	[nguoiGiaoSach] [nvarchar](30) NULL,
	[tongTien] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LinhVuc]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhVuc](
	[idLV] [int] IDENTITY(1,1) NOT NULL,
	[linhVuc] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LuuTienNoNXB]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LuuTienNoNXB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iddl] [int] NOT NULL,
	[idnxb] [int] NOT NULL,
	[ngay] [datetime] NULL,
	[tienNo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[idNXB] [int] IDENTITY(1,1) NOT NULL,
	[tenNXB] [nvarchar](30) NULL,
	[diaChi] [nvarchar](50) NULL,
	[sDT] [varchar](12) NULL,
	[tienNoNXB] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 12/23/2016 10:22:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sach](
	[idSach] [int] IDENTITY(1,1) NOT NULL,
	[idLV] [int] NOT NULL,
	[tenSach] [nvarchar](30) NULL,
	[soLuong] [int] NULL,
	[donGiaBan] [varchar](20) NULL,
	[donGiaNhap] [varchar](20) NULL,
	[idCTSach] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ChiTietSach]  WITH CHECK ADD FOREIGN KEY([idNXB])
REFERENCES [dbo].[NhaXuatBan] ([idNXB])
GO
ALTER TABLE [dbo].[ChiTietSachDaiLyLay]  WITH CHECK ADD FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[ChiTietSachDaiLyLay]  WITH CHECK ADD FOREIGN KEY([idDL])
REFERENCES [dbo].[DaiLy] ([idDL])
GO
ALTER TABLE [dbo].[ChiTietSachNXBNhap]  WITH CHECK ADD FOREIGN KEY([idNXB])
REFERENCES [dbo].[NhaXuatBan] ([idNXB])
GO
ALTER TABLE [dbo].[ChiTietSachNXBNhap]  WITH CHECK ADD FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[CTHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonBan_HoaDonBan] FOREIGN KEY([idHDB])
REFERENCES [dbo].[HoaDonBan] ([idHDB])
GO
ALTER TABLE [dbo].[CTHoaDonBan] CHECK CONSTRAINT [FK_CTHoaDonBan_HoaDonBan]
GO
ALTER TABLE [dbo].[CTHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonBan_LinhVuc] FOREIGN KEY([idLV])
REFERENCES [dbo].[LinhVuc] ([idLV])
GO
ALTER TABLE [dbo].[CTHoaDonBan] CHECK CONSTRAINT [FK_CTHoaDonBan_LinhVuc]
GO
ALTER TABLE [dbo].[CTHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonBan_Sach] FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[CTHoaDonBan] CHECK CONSTRAINT [FK_CTHoaDonBan_Sach]
GO
ALTER TABLE [dbo].[CTHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonNhap_HoaDonNhap] FOREIGN KEY([idHDN])
REFERENCES [dbo].[HoaDonNhap] ([idHDN])
GO
ALTER TABLE [dbo].[CTHoaDonNhap] CHECK CONSTRAINT [FK_CTHoaDonNhap_HoaDonNhap]
GO
ALTER TABLE [dbo].[CTHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonNhap_LinhVuc] FOREIGN KEY([idLV])
REFERENCES [dbo].[LinhVuc] ([idLV])
GO
ALTER TABLE [dbo].[CTHoaDonNhap] CHECK CONSTRAINT [FK_CTHoaDonNhap_LinhVuc]
GO
ALTER TABLE [dbo].[CTHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonNhap_Sach] FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[CTHoaDonNhap] CHECK CONSTRAINT [FK_CTHoaDonNhap_Sach]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_DaiLy] FOREIGN KEY([idDL])
REFERENCES [dbo].[DaiLy] ([idDL])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_DaiLy]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhaXuatBan] FOREIGN KEY([idNXB])
REFERENCES [dbo].[NhaXuatBan] ([idNXB])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhaXuatBan]
GO
ALTER TABLE [dbo].[LuuTienNoNXB]  WITH CHECK ADD FOREIGN KEY([idnxb])
REFERENCES [dbo].[NhaXuatBan] ([idNXB])
GO
ALTER TABLE [dbo].[LuuTienNoNXB]  WITH CHECK ADD FOREIGN KEY([iddl])
REFERENCES [dbo].[DaiLy] ([idDL])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([idCTSach])
REFERENCES [dbo].[ChiTietSach] ([idCTSach])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([idLV])
REFERENCES [dbo].[LinhVuc] ([idLV])
GO
USE [master]
GO
